extends ./layout/login
block contenido

  include ./layout/header

  h4.fechas.text-center.mt-0.px-0.text-white.mt-5 Agregar Foto

  main.agrega-foto.container.px-5
    .formulario-agrega-foto.m-auto.row.p-4
      form#enviar-mail.py-4.px-5.container.text-white.col-12.col-md-8(action=`/admin/agregar-foto`, method="POST", name='enviar', enctype='multipart/form-data')
        .container.mb-4
          .row
            label.fw-semibold.mb-1(for='tipo') Tipo:
            select#tipo.form-control.p-2.mb-1.rounded.border.border-0.w-100.col-12(name="tipo")
              option#select.text-white.text-uppercase(value="", disabled, selected) Seleccione
              option#option1.text-white.text-uppercase(value="1") Foto
              option#option2.text-white.text-uppercase(value="2") Recordatorio
        .container.mb-4
          .row
            label.fw-semibold.mb-1(for='nombre') Nombre de la Foto:
            input#nombre.p-2.mb-1.rounded.border.border-0.w-100.col-12(type='text', class="form-control", placeholder='Nombre', name="nombre")
        .container.mb-4
          .row
            label.fw-semibold.mb-1(for='alt') Descripción de la Foto:
            input#alt.p-2.mb-1.rounded.border.border-0.w-100.col-12(type='text', class="form-control", placeholder='Descripción', name="alt")
        .container.mb-4
          .row
            label.fw-semibold.mb-1(for='parrafo_3') Ruta de la Foto:
            input#ruta.p-2.mb-1.rounded.border.border-0.w-100.col-12(type='text', class="form-control", placeholder='Ruta', name="ruta")
        .container.mb-4
          .row
            label.fw-semibold.mb-1.col-12.mb-2(for='archivo') Archivo Full:
            input#archivo.p-2.mb-1.rounded.border.border-0.w-100.col-12(type='file', class="form-control", name="archivo", accept="image/jpeg")

        .row.justify-content-between
          button#enviar.btn-contacto.col-md-6.px-2.py-1.text-white.opacity-50.uppercase.fw-bold.no-hover(type='submit', disabled)
            | Agregar
          button#resetBtn.btn-contacto.col-md-6.px-2.py-1.text-white.uppercase.fw-bold(type='reset')
            | Reset


  include ./layout/footer