extends ./layout/index
block contenido
  include ./layout/header

  main.historia.container
    section.info-general.container.row.justify-content-center.p-0.m-auto
      .info.col-md-9.my-4.py-2
        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          img.retrato-general.px-2.col-6.col-md-4.mb-2(src="../img/2.jpg", alt="retrato 2")
          p.parrafo.m-0.col-md-8
            span.fw-bold.col-md-8 Elvira Sosa 
            | nació el 12 de Agosto del año 1940 en la localidad de San Pedro del Rio, en San Cristobal, Edo. Táchira. Sus padres fueron Jesús Romero, quién fallecería meses antes de que Elvira naciera, y Victoria Sosa, que también fallecería unos meses después de darla a luz, por complicaciones con una enfermedad de la que no se tienen mayores noticias.

        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          p.parrafo.m-0.col-md-8 Elvira quedaría a cargo de sus padrinos Juan Casanova y su esposa, quienes la criarían desde que les fue entregada recién nacida; y sus hijos mayores, Sinforiano y Gertrudis, se ocuparían de cuidarla creando entre ellos un lazo emocional muy fuerte que perduró en el tiempo. Para Elvira ésta sería la familia en la que se refugiaría dada la ausencia de sus padres, un vínculo que siempre fue correspondido esplendidamente. Elvira mantenía contacto constante con todos los hijos de Gertrudis, especialmente con Elda Emperatriz, a quien siempre ofrecía un café en la tarde para conversar.
          .row.justify-content-center.col-6.col-md-4.mt-2
            img.imagen-texto(src="../img/gertrudis-1.jpg", alt="gertrudis casanova")
            h5.text-center.fw-bold Gertrudis Casanova

        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          p.parrafo.mb-4 Aunque la infancia de Elvira estuvo llena de anécdotas que probablemente se perdieron en el tiempo; algunas, como las de su vestido manchado de plátano verde o de ella encaramada en las matas mientrás los hijos menores de sus padrinos le perseguían, e incluso aquella en la que un tendón de su dedo índice quedaría dañado dejandolo en una posición particular, quedarán marcadas en la memoria de su familia.

        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          .row.justify-content-center.col-6.col-md-4.mt-2
            img.imagen-texto(src="../img/daniel-sosa-1.jpg", alt="daniel sosa")
            h5.text-center.fw-bold Daniel Sosa
          p.parrafo.m-0.col-md-8 Elvira tuvo un hermano mayor con quien tuvo una relación muy cercana: Daniel Sosa. Daniel estuvo casado con una mujer llamada Pilar con quien tuvo un único hijo, también llamado Daniel, y conocido por todos como Danielito para diferenciarlo de su padre. Daniel y Elvira tuvieron una relación filial cercana, amable y muy cariñosa.

        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          p.parrafo.mb-4 Por otro lado Danielito tuvo una infancia muy cercana a su tia Elvira. Durante su niñez vivió en La Vega, y compartió con sus primos alegrias e innumerables travesuras. Elvira siempre lo quiso y lo protegió cuanto pudo. Tuvo dos hijos, Daniel y Daniela a quienes Elvira siempre consideró unos sobrinos muy queridos. Sufrió amargamente cuando murió por la misma enfermedad que se llevaría a Daniel padre años después.

        .banner.row.justify-content-center.align-items-center.m-auto.my-5.p-5
          em.parrafo-especial.m-auto.col-md-8.text-center « Elvira recordaba constantemente una anecdota con Sinforiano, quién fabricaba escobas artesanales para venderlas y comprar azucar para prepararle el tetero, ya que la panela con la que se le endulzaba el alimento le caía mal. »
          .row.justify-content-center.col-8.col-md-4.mt-2
            img.retrato.m-auto(src="../img/victoria-(2).jpg", alt="victoria sosa")
            h5.text-center.fw-bold.m-auto Victoria Sosa


        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          .row.justify-content-center.col-6.col-md-4.mt-2
            img.imagen-texto(src="../img/juan-ruiz-1.jpg", alt="juan amado ruiz")
            h5.text-center.fw-bold Juan A. Ruiz
          p.parrafo.m-0.col-md-8 A los quince años viajó a Caracas acompañada de su hermana mayor, Cecilia, y entró a trabajar en el colegio San José de Tarbes. Vivió en el sector 23 de Enero de Caracas con algunos familiares, hasta que algunos años después conoció a quién sería su esposo: Juan Amado Ruíz. Con él tendría a sus cuatro hijos, Juan Amado, Maritza del Valle, Alfredo y José Luis.

        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          p.parrafo.m-0.col-md-8 Sus 5 nietos fueron Juan Rafael, José Francisco, Yunalivi, Victoria y Maria Daniela, y conocería un bisnieto, Santiago David, hijo de José Francisco. Jamás hubo una abuela tan dedicada a sus nietos, pletórica de consejos y llena de muestras de cariño.
          .row.justify-content-center.col-8.col-md-4.mt-2
            img.retrato.m-auto(src="../img/elvira-daniela.jpg", alt="elvira y maria daniela 15 años")
            h5.text-center.fw-bold.m-auto Elvira y Maria Daniela

        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          p.parrafo.mb-4 Vivió por mas de 30 años en la parroquia La Vega de Caracas, en donde vería a sus hijos crecer y formar sus propias familias, posteriormente se mudaría a Montalbán donde vivió el resto de su vida.

        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          .row.justify-content-center.col-6.col-md-4.mt-2
            img.imagen-texto(src="../img/elvira-santiago.jpg", alt="elvira y bisnieto")
            h5.text-center.fw-bold Elvira y Santiago David
          p.parrafo.mb-4.col-md-8 La vida de Elvira se caracterizó por tener un profundo amor y apego por su familia, estuvo llena de satisfacción y estuvo rodeada de su familia hasta el último momento. Su amor aun flota en todos los espacios que habitó, su presencia es tangible en la mente de todos quienes se cruzaron en su vida y su recuerdo es fuente inagotable de sosiego para quienes la amaron en vida. Es imposible no sentir su abrazo al pensar en ella, en su burbujeante sentido del humor y su agudo sentido común.

        .row.justify-content-center.align-items-center.px-3.py-2.mb-1
          p.parrafo.mb-4 Finalmente, y luego de 80 años de vida, Elvira falleció en Caracas el 02 de Octubre del 2020 en horas de la tarde.

  include ./layout/footer