extends ./layout/login
block contenido

  include ./layout/header

  h2.titulo-contenido.text-white.text-uppercase.text-center.fw-semibold.pt-3.mt-3.text-danger 
    span.text-danger ERROR! 
    | This page doesn't Exist.