footer.pie-pagina
  .container
    .row.justify-content-between.align-items-center    
      h4.nombre.text-white.text-center.fs-1 Elvira Sosa

      .row.mx-auto.justify-content-center.align-items-center.mb-2
        .col-12
          .creado-por
            p.text-center.text-white.mb-0
              | Desarrollado por &copy;: 
              a.text-white.text-decoration-none(href='#') Juan Rodriguez 
                span.actual-year= actualYear